{{define "shared/footer"}}
  <footer>
    <div class="container">
      <div class="col-sm-5 footer-column">
        <h5>&copy; Jonah George 2014</h5>
        <p>All rights reserved.</p>
      </div>

      <div class="col-sm-2 col-sm-offset-1 footer-column">
        <h5>Team</h5>
        <a href="/about">About</a>
      </div>

      <div class="col-sm-2 footer-column">
        <h5>Legal</h5>
      </div>

      <div class="col-sm-2 footer-column">
        <h5>Connect</h5>
      </div>
    </div>
  </footer>
{{end}}
