{{define "shared/header"}}

<header>
  <nav class="navbar navbar-square navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Feather Label <span class="label label-danger">alpha</span></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/songs">Explore</a></li>
		  {{if .Session.Values.User}}
			<li><a href="/upload">Upload</a></li>
          {{end}}
        </ul>

		<ul class="nav navbar-nav navbar-right">
		{{if .Session.Values.User}}
		  <li><a href="/users/{{.Session.Values.User.Id}}"><i class="fa fa-user"></i> {{.Session.Values.User.Name}}</a></li>
		  <!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li> -->
		  <li><a href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
		{{else}}
		  <li><a href="/signin"><i class="fa fa-sign-in"></i> Sign In</a></li>
		{{end}}
        </ul>

      </div>
    </div>
  </nav>
</header>

{{end}}
