{{define "shared/head"}}

  {{ if .Title }} 
    <title>{{ .Title }} | Feather Label</title>
  {{ else }}
    <title>Feather Label</title>
  {{ end }}

  <!-- meta -->
  <meta content="utf-8" http-equiv="encoding">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" >
  <meta name="description" content="Learn about jobs directly from the professionals." >

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/resources/images/favicon.ico">

  <!-- stylesheets -->
  <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/resources/stylesheets/default.css" rel="stylesheet">

{{ end }}
