{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "shared/head" .}}
  </head>
  <body>
    {{template "shared/header" .}}

    <div class="container">

      <h3>Featured Users</h3>
      <div class="row">
        {{range .Users}}
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail trending">
            <a href="/users/{{.Id}}">
              <img class="img-responsive featured-artist" src="https://identicons.github.com/{{.Id}}.png">
              <div class="caption">
                <h3>{{.Name}}</h3>
              </div>
            </a>
          </div>
        </div>
        {{end}}
      </div>

      <h3>Trending Songs</h3>
      <div class="row">
        {{range .Songs}}
          <div class="col-xs-6 col-md-2">
            <div class="thumbnail trending">
              <a href="/songs/{{.Id}}">
                <img class="img-responsive" src="https://identicons.github.com/{{.Id}}.png">
                <div class="caption">
                  <h3>{{.Title}}</h3>
                  <p>{{.User.Name}}</h3>
                </div>
              </a>
            </div>
          </div>
        {{end}}
      </div>

    </div>
    {{template "shared/footer" .}}
    {{template "shared/foot" .}}
  </body>
</html>
{{end}}
