{{define "songs/show"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "shared/head" .}}
  </head>
  <body>
    {{template "shared/header" .}}

    <div class="container">

      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-responsive featured-artist" src="https://identicons.github.com/{{.Song.Id}}.png">
          </div>

          <div class="col-sm-9">
            <h1>{{ .Song.Title }}</h1>
            <h3>{{ .Song.Artist.Name }}</h3>

            <audio id="player" controls>
            <source src="{{.Song.SignedUrl}}" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>

      <!--
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>More by {{ .Song.Artist.Name }}</span>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>Comments</span>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      -->
    </div>

    {{template "shared/footer" .}}
    {{template "shared/foot" .}}
  </body>
</html>
{{end}}
