{{define "songs/show"}}
{{template "_templates/header" .}}

<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-3">
			<img class="img-responsive featured-artist" src="https://identicons.github.com/{{.Song.Id}}.png">
		</div>

		<div class="col-sm-9">
			<h1>{{ .Song.Title }}</h1>
			<a href="/users/{{ .Song.User.Id }}">
				<h3>{{.Song.User.Username}}</h3>
			</a>

			<audio id="player" controls>
			<source src="{{.Song.SignedUrl}}" type="audio/mpeg">
			</audio>
		</div>
	</div>
</div>

{{template "_templates/footer" .}}
{{end}}
